body {
  font-family: 'PT Serif', serif;
  background-color: #f2ebfc
}

.Banner, .About, .contactpage {
  text-align: center;
  color: #2D0D40
}

h1 {
  font-family: 'PT Serif', serif;
  font-size: 3em
}

.LandingMessage {
  margin: auto;
  text-align: center;
}

.landing-message {
  margin: 30px auto;
  width: 70%;
  text-align: center;
  font-size: 1.5em
}

.typed-text {
  font-size: 30px
}

.slack-link {
  margin: 40px auto;
  font-size: 2em;
  font-family: 'Yellowtail', cursive
}

.slack-link a {
  color: #cc7ab6;
  text-decoration: underline;
}

.stars-image img {
  width: 30%;
  margin-top: 20px
}

.Footer {
  position: fixed;
  bottom: 0;
  margin: auto 0;
  width: 100%;
  padding: 20px 0;
  background-color: #f2ebfc
}

.footer-link {
  display: inline-block;
  padding: 0;
  margin: auto;
  width: 20%;
  text-align: center;
  font-family: 'Open Sans Condensed', serif;
  font-size: 25px;
  font-weight: bold;
}

.footer-link a {
  color: #cc7ab6;
}

a:hover {
  color: #35CDD1
}

.About {
  margin-bottom: 150px
}

.input-row-1 {
  margin-top: 20px;
  font-family: 'PT Serif', serif;
}

button#submit {
  font-size: 20px;
  font-family: 'PT Serif', serif;
  color: #35CDD1;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid #35CDD1;
  border-radius: 5px;
  padding: 5px;
}

button#submit:hover {
  background-color: #cc7ab6
}

.contactcontainer {
  text-align: center;
  width: 50%;
  z-index: 1;
  margin: 30px auto 100px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'PT Serif', serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #35CDD1;
}

.formcaption {
  display: inline-block;
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  font-size: 1em;
  color: #35CDD1
}

input {
  background: #eaf9f9;
  border: none;
  border: 1px solid #35CDD1;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  background: #eaf9f9;
  color: #35CDD1;
  font-size: 1.1em;
  border: 1px solid #35CDD1;
  border-radius: 5px;
}

.input-row-2 {
  margin-top: 15px
}

.temple img {
  width: 30%;
  display: block;
  margin: auto;
}

.About p {
  text-align: left;
  width: 50%;
  margin: 22px auto;
}

.About h3 {
  font-size: 25px
}

h3 {
  font-family: Yellowtail, cursive;
  font-size: 2.5em
}

@media only screen and (max-width: 800px) {
  .temple img {
    width: 50%;
  }

  .stars-image img {
    width: 60%;
  }

  .footer-link {
    font-size: 20px;
  }

  .slack-link {
    margin-bottom: 100px
  }
}
