:root {
  --main-color: #faeae8;
  --secondary-color: #2D0D40;
  --alt-color: #1e373d;
  --bright-color: #35CDD1;
  --pink-color: #f7a69c;
  --yellow-color: #facfac;
  --grey-color: #43656e;
  --main-font: 'PT Serif', serif;
  --sub-font: 'Yellowtail', cursive;
  --alt-font: 'Open Sans Condensed', serif
}

.App {
  margin: 0;
  padding: 0
}

body {
  font-family: var(--main-font);
  background-color: var(--main-color);
  margin: 0;
  padding: 0
}

.Banner, .About, .contactpage {
  text-align: center;
  color: var(--secondary-color)
}

h1 {
  font-family: var(--main-font);
  font-size: 3em;
}

h3 {
  font-family: var(--sub-font);
  font-size: 2.5em
}

.Body h3 {
  text-align: center;
}

.Body {
  width: 100%
}

.landing-message {
  width: 50%;
  display: inline-block;
  float: left;
}

.lotus-img {
  position: relative;
  text-align: center;
  width: 100%;
  display: inline-block;
  float: left;
}

.lotus-img img {
  width: 70%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 90%;
  margin: 30px 0
}

.landing-message p, .meditation p {
  text-align: left;
  font-size: 1.5em;
  width: 80%;
  margin: 10px 10%;
}

.landing-message h3 {
  text-align: center
}

.link-box {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2em;
  font-family: var(--sub-font)
}

.link-box a {
  color: var(--grey-color);
  text-decoration: underline;
}

.stars-image {
  position: relative;
  text-align: center;
}

.stars-image h1 {
  index: -1;
  position: absolute;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-color);
}

.stars-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: 20% 0%;
}

.strip {
  position: fixed;
  top: 0;
  width: 100%;
  margin: auto 0;
  padding: 3px;
  background-color: var(--main-color)
}

.nav-links {
  width: auto;
}

.social-links {
  float: right;
  top: 0;
  vertical-align: middle;
  margin-right: 10px
}

.social-links a {
  padding: 5px;
  text-align: center;
  color: var(--secondary-color);
  display: inline-block;
  margin: 0 8px;
  font-size: 20px;
}

.nav-link a {
  color: var(--secondary-color);
  text-decoration: none;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 5px 10px;
  text-align: center;
  font-family: var(--alt-font);
  font-size: 20px;
  font-weight: bold;
  width: auto
}

a:hover {
  color: var(--pink-color)
}

.About {
  margin-bottom: 150px
}

.input-row-1 {
  margin-top: 20px;
  font-family: var(--main-color)
}

button#submit {
  font-size: 20px;
  font-family: var(--main-font);
  color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  margin: 10px auto;
  border: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--pink-color)
}

button#submit:hover {
  background-color: var(--bright-color)
}

.contactcontainer {
  text-align: center;
  width: 50%;
  z-index: 1;
  margin: 30px auto 100px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: var(--main-font);
  font-size: 1.1em;
  font-weight: bold;
  color: var(--secondary-color);
}

.formcaption {
  display: inline-block;
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  font-size: 1em;
  color: var(--secondary-color)
}

input {
  background: var(--pink-color);
  border: none;
  border-radius: 5px;
}

textarea {
  display: block;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  background: var(--pink-color);
  color: var(--secondary-color);
  font-size: 1.1em;
  border-radius: 5px;
}

.input-row-2 {
  margin-top: 15px
}

.temple img {
  width: 30%;
  display: block;
  margin: 10px auto;
}

.About p {
  text-align: left;
  width: 50%;
  margin: 22px auto;
  font-size: 1.2em
}

.About h3 {
  font-size: 25px
}

.meditation p {
  text-align: center;
}

.email-list-form button#submit {
  margin: 40px
}

@media only screen and (max-width: 800px) {
  .temple img {
    width: 50%;
  }

  .stars-image img {
    height: 300px
  }

  .strip {
    margin: 0;
    padding: 0
  }

  .nav-link a {
    font-size: 15px;
    width: 20%;
    margin: 0;
    padding: 0
  }

  .link-box {
    margin-bottom: 90px
  }

  .social-links {
    display: none
  }

  .landing-message, .meditation {
    display: block;
    width: 100%
  }


}
