body {
  font-family: Roboto Slab;
  background-color: #f2ebfc;
  font-size: 20px
}

.Banner, .About, .contactpage {
  text-align: center;
  color: #413c47
}

h1 {
  font-family: Yellowtail;
  font-size: 40px
}

.LandingMessage {
  margin: auto;
  width: 50%;
  text-align: center;
}

.landing-message {
  margin: auto;
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
}

.typed-text {
  font-size: 30px
}

.slack-link {
  margin-top: 30px;
}

.slack-link a {
  color: #cc7ab6
}

.stars-image img {
  width: 30%;
}

.Footer {
  position: fixed;
  bottom: 0;
  margin: auto;
  margin-bottom: 30px;
  width: 100%
}

.footer-link {
  display: inline-block;
  width: 20%;
  text-align: center;
  font-family: 'Yellowtail';
  font-size: 25px
}

.footer-link a {
  color: #cc7ab6
}

.About {
  margin-bottom: 150px
}

.input-row-1 {
  margin-top: 20px;
  font-family: 'Roboto Slab', serif;
}

button#submit {
  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  color: #35CDD1;
  border: none;
  border-radius: 10px;
  margin: 10px auto;
  border: 1px solid #35CDD1;
  border-radius: 5px;
  padding: 5px;
}

button#submit:hover {
  background-color: #cc7ab6
}

.contactcontainer {
  text-align: center;
  width: 50%;
  z-index: 1;
  margin: 30px auto 100px auto;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #35CDD1;
}

.formcaption {
  display: inline-block;
  margin: 10px auto;
  font-size: 1.1em;
  font-weight: bold;
}

label {
  font-size: 1em;
  color: #35CDD1
}

input {
  background: #eaf9f9;
  border: none;
}

textarea {
  display: block;
  width: 80%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 10px auto 10px auto;
  background: #eaf9f9;
  color: #35CDD1;
  font-size: 1.1em
}

.input-row-2 {
  margin-top: 15px
}
